---
import Layout from '../layouts/Standard.astro'
---

<Layout bodyClass="bg-zinc-200">
  <div class="flex flex-col items-center justify-center h-[600px]">
    <div class="card bg-white text-center">
      <div class="p-8">
        <h1>404</h1>
      <p class="pb-4">That page was not found</p>
      <div class="text-center py-4"><a href="/" class="button-blue">Back to the map</a></div>
      </div>
    </div>
  </div>
</Layout>
