---
import Layout from '../layouts/Standard.astro'
import IdentityIcon from '../components/icons/IdentityIcon.astro'
import PaymentIcon from '../components/icons/PaymentIcon.astro'
import DataIcon from '../components/icons/DataIcon.astro'
import { GoogleSpreadsheet } from 'google-spreadsheet'
import CodebookDefinition from '../components/CodebookDefinition.astro'

async function initDoc (id = '19jg5wdeJVKlQqSBBHtHVEJOPa8S8j8L-rx3jXk3PGNA') {
  const doc = new GoogleSpreadsheet(id, {
    apiKey: import.meta.env.GOOGLE_API_KEY
  })
  await doc.loadInfo()
  return doc
}

async function getSheet(index: number, doc: GoogleSpreadsheet) {
  const sheet = doc.sheetsByIndex[index]
  return {
    rows: await sheet.getRows(),
    header: sheet.headerValues
  }
}

const doc = await initDoc()
const idSheet = await getSheet(1, doc)
const paySheet = await getSheet(2, doc)
const dataSheet = await getSheet(3, doc)

---
<Layout title="Codebook">
  <h1>Codebook</h1>
  <div class="lg:flex mt-2">
    <div class="flex-3/4 mt-0">
      <p class="mt-0">This document defines the variables used to categorise DPI systems.
      </p>
      <p>Unless specified otherwise, <strong>yes/no</strong> values are used to indicate presence or absence of a <em>binary</em> variable. <strong>NA</strong> is used to indicate that data is either unavailable/ insufficient
      </p>
      <p><strong>Scope</strong>: System level indicators are common to all deployments in a country; sub-system level indicators are specific to one of several components that collectively serve a country's ID/payment/data exchange components
      </p>
    </div>
    <div class="flex-1/4 lg:border-l-2 border-zinc-100 lg:pl-4 lg:ml-4">
    <h2 class="text-base mt-0">Contents</h2>
      <nav>
        <a class="block no-underline pt-2 text-sm" href="#id">Digital ID Systems</a>
        <a class="block no-underline pt-2 text-sm" href="#pay">Payment Systems</a>
        <a class="block no-underline pt-2 text-sm" href="#data">Data Exchange Systems</a>
      </nav>
    </div>
  </div>

  <section id="id" class="pb-20 mt-20">
    <h2 class="sticky top-0 bg-white py-2 border-b-4 border-zinc-300"><IdentityIcon class="inline-block size-8 align-top mr-1" /> Digital ID Systems</h2>
    <p>A digital ID system can range from basic identification systems that provide digital authentication for users to more advanced systems that enable citizens to share their credentials with other institutions for a variety of purposes beyond mere self-identification. The Map focuses national or federal-level ID systems that are governed by public institutions.</p>
    <h3 class="text-base">Variables</h3>
    {idSheet.rows.map((row, i) => (
      <CodebookDefinition row={row} idPrefix="id" />
    ))}  
  </section>

  <section id="pay" class="mt-20 pb-20">
    <h2 class="sticky top-0 bg-white py-2 border-b-4 border-zinc-300"><PaymentIcon class="inline-block size-8 align-top mr-1" /> Digital payment Systems</h2>
    <p>A digital payment system can range from an interbank payment system to a mobile-based payment system that allows users to leverage the speed and efficiency of digital payments across domains (banks, mobile wallets). Further, any transaction that allows users (and not payment service providers) to have a settlement record within a few seconds is deemed real-time. The Map focuses on national and regional payment systems that facilitate transactions between individuals, merchants and businesses and governments.</p>
    <h3 class="text-base">Variables</h3>
    {paySheet.rows.map((row, i) => (
      <CodebookDefinition row={row} idPrefix="pay" />
    ))}  
  </section>

  <section id="data" class="mt-20">
    <h2 class="sticky top-0 bg-white py-2 border-b-4 border-zinc-300"><DataIcon class="inline-block size-8 align-top mr-1" />Data exchange Systems</h2>
      <p>A data exchange system can range from internal platforms that facilitate data sharing within government departments to systems connecting multiple agencies and authorized third parties. These systems enable public organisations to securely and efficiently share structured data among them or with authorised entities, reducing administrative burdens and enhancing interoperability across sectors. Any system that facilitates the secure exchange of data relevant to public service delivery is considered a data exchange system. The Map focuses on national or federal-level, cross-sectoral data exchange systems that are integral to public service delivery.</p>
    <h3 class="text-base">Variables</h3>
    {dataSheet.rows.map((row, i) => (
      <CodebookDefinition row={row} idPrefix="data" />
    ))}  
  </section>
</Layout>
