---
import Layout from '../layouts/Layout.astro'
import Status from '../components/Status.astro'
import Card from '../components/Card.astro'
import Header from '../components/Header.astro'
import IdentityIcon from '../components/icons/IdentityIcon.astro'
import data from '../digital-id.json'
import KeyLabel from '../components/KeyLabel.astro'
import Footer from '../components/Footer.astro'
import slug from 'slug'

const statusMap = {
	'Rollout': 4,
	'Pilot': 3,
	'Plan': 2,
	'Unknown': 1
}
function statusCode (s: string) {
	return statusMap[s] ?? 0
}
const items = data.sort((a, b) => {
	return statusCode(b['Status of implementation']) - statusCode(a['Status of implementation'])
})
const active = data.filter((row) => row['Status of implementation'] === 'Rollout')
const wip = data.filter((row) => row['Status of implementation'] === 'Pilot')
const plan = data.filter((row) => row['Status of implementation'] === 'Plan')
const tbc = data.filter((row) => row['Status of implementation'] === 'Unknown')
---

<Layout>
	<Header dpiType="id" countryCount={data.length} />
  <div class="text-center align-middle text-mono text-sm">
    <div class="bg-gray-200 h-10 inline-block" style={{width: `${(tbc.length / data.length) * 100}%` }}>
    </div><div class="bg-blue-200 h-10 inline-block" style={{width: `${(plan.length / data.length) * 100}%` }}>
    </div><div class="bg-amber-200 h-10 inline-block" style={{width: `${(wip.length / data.length) * 100}%` }}>
    </div><div class="bg-green-200 h-10 inline-block" style={{width: `${(active.length / data.length) * 100}%` }}></div>
  </div>
	<div class="grid grid-flow-row-dense grid-cols-2 md:grid-cols-3">
	{ items.map(row => (
		<Card>
			<article>
				<details>
					<summary class="">
						<Status status={row['Status of implementation']} />
						<div class="inline pl-1 text-zinc-600">
							<a href={slug(row.Country)}>{row.Country}</a>
						</div>
						<IdentityIcon class="inline float-right text-zinc-400"/>
						<div class="pt-2 font-semibold hover:underline">
							<a href={row.URL}>
								{row['Digital ID name']}
							</a>
						</div>
						<KeyLabel>Governing Entity</KeyLabel>
						<div>{row['Governing entity']}</div>
						<KeyLabel>Governance structure</KeyLabel>
						<div>{row['Institutional governance structure']}</div>
					</summary>
					<KeyLabel>Legally binding redress mechanism</KeyLabel>
					<div>{row['Legally binding redress mechanism\n']}</div>
					<KeyLabel>Enables Authentication</KeyLabel>
					<div>{row['Digital authentication function']}</div>
					<KeyLabel>Enables KYC</KeyLabel>
					<div>{row['Enables KYC packet collection for service provision']}</div>
					<KeyLabel>Tech support organizations</KeyLabel>
					<div>{row['Technical support organizations identified\n']}</div>
				</details>
			</article>
		</Card>
	))}
	</div>
	<!-- <Footer /> -->
</Layout>
