---
import slug from 'slug'
import KeyLabel from '../components/KeyLabel.astro'
import { GoogleSpreadsheetRow } from 'google-spreadsheet'

const row: GoogleSpreadsheetRow = Astro.props.row
const idPrefix: string = Astro.props.idPrefix
const id = `${idPrefix}-${slug(row.get('Variable name'))}`
---
{ row.get('Variable name') !== 'DPI based digital ID count for visualisation' && (
<div class="border-t-2 border-zinc-100 pt-4 pb-4" id={id}>
  <header class="flex">
    <a class="font-bold text-lg m-0" href={`#${id}`}>
      {row.get('Variable name')}
    </a>
  </header>
  <div class="flex">
    <div class="mr-4">
      <KeyLabel class="inline">Type</KeyLabel>
      <span class="pill bg-zinc-100">{row.get('Variable type')}</span>
    </div>
    <div class="mr-4">
      <KeyLabel class="inline">Scope</KeyLabel>
      <span class="pill bg-zinc-100">{row.get('System vs. subsystem level variable')}</span>
    </div>
  </div>
  <p class="">{row.get('Description')}</p>
  {row.get('Codes explained') && row.get('Codes explained').trim() !== 'NA' && (
    <KeyLabel class="inline">Values</KeyLabel>
    <span class="italic">{row.get('Range/ Categories')}</span>
    <p>{row.get('Codes explained')}</p>
  )}
</div>
)}