---
import CodeIcon from "./icons/CodeIcon.astro";
---

<footer class="px-4 py-8 text-center font-mono text-xs uppercase tracking-wide font-light text-zinc-600">
  <a class="hover:underline" href="https://dpimap.org/">dpimap.org</a>
  ·
  <a class="hover:underline" href="https://github.com/olizilla/digital-public-infra-map">
    code
  </a>
  ·
  <a class="hover:underline" href="https://www.ucl.ac.uk/bartlett/public-purpose">UCL IIPP</a>
</footer>
