---
import CodeIcon from "./icons/CodeIcon.astro";
---

<footer class="px-4 py-8 text-center font-mono text-xs tracking-wide">
  <a class="hover:underline" href="https://dpimap.org/">dpimap.org</a>
  ✨
  <a class="hover:underline" href="https://github.com/olizilla/digital-public-infra-map">
     olizilla
  </a>
</footer>
