---
import Card from '../components/Card.astro'
import Stat from '../components/Stat.astro'
import PaymentIcon from '../components/icons/PaymentIcon.astro'
import IdentityIcon from '../components/icons/IdentityIcon.astro'
import DataIcon from '../components/icons/DataIcon.astro'
import Map from '../components/Map.astro'
import { IDs } from '../Identity'
import { DataExchanges } from '../DataExchange'
import { Payments } from '../Payment'
import { oneSystemPerCountry } from '../Util'

const { dpiType } = Astro.props
const dpiIdCount = oneSystemPerCountry(IDs).filter(row => row['DPI Status'] === 'DPI').length
const dpiPaymentsCount = oneSystemPerCountry(Payments).filter(row => row['DPI Status'] === 'DPI').length
const dpiDataExchangeCount = oneSystemPerCountry(DataExchanges).filter(row => row['DPI Status'] === 'DPI').length

---
<div>
  <div class="flex flex-col-reverse lg:flex-row pt-10">
    <section class="flex-none pb-8">
      <div class="px-2 text-zinc-700 text-md text-center">
        <h2 class="font-bold lg:text-lg">
          DPI is far more prevalent than initially believed.
        </h2>
      </div>
      <nav class="grid gap-3 px-2 font-mono pt-2 pb-8 max-w-md mx-auto" >
        <Card class="bg-zinc-50" isActive={Astro.url.pathname === '/'}>
          <a class="flex items-center justify-between" href="/">
            <Stat number={dpiIdCount}>Digital ID System</Stat>
            <IdentityIcon class="text-zinc-500" />
          </a>
        </Card>
        <Card class="bg-zinc-50" isActive={Astro.url.pathname === '/digital-payment/'}>
          <a class="flex items-center justify-between" href="/digital-payment/">
            <Stat number={dpiPaymentsCount}>Digital Payment System</Stat>
            <PaymentIcon class="text-zinc-500" />
          </a>
        </Card>
        <Card class="bg-zinc-50" isActive={Astro.url.pathname === '/data-exchange/'}>
          <a class="flex items-center justify-between" href="/data-exchange/">
            <Stat number={dpiDataExchangeCount}>
              Data Exchange System</Stat>
            <DataIcon class="text-zinc-500" />
          </a>
        </Card>
      </nav>
      <div class="max-w-md mx-auto pl-4 pb-8">
        <p>
          <a href="/about/" class="underline">This project aims</a> to advance our understanding of digital public infrastructure and promote its inclusive and safe development.
          Based on a minimal set of benchmarks for characteristics of DPI, we arrived at a count for DPI-like systems.</p>
        <p class="pt-4">
          Read the <a href="/global-state-of-dpi/" class="underline">report</a>, download the <a href="/data/" class="underline">data</a>, and help <a href="/contribute-to-the-dpi-map/" class="underline">improve</a> it.
        </p>
        <p class="pt-4">
          The cards below show DPI information about every region researched so far. Click on them to show the details and click on the region name to see all the DPI information for that region.
        </p>
      </div>
    </section>
    <section class="flex-grow pb-10 lg:pl-4 xl:mx-auto">
      <Map dpiType={dpiType} />
    </section>
  </div>
</div>
