---
import Card from '../components/Card.astro'
import Stat from '../components/Stat.astro'
import PaymentIcon from '../components/icons/PaymentIcon.astro'
import IdentityIcon from '../components/icons/IdentityIcon.astro'
import DataIcon from '../components/icons/DataIcon.astro'
import Map from '../components/Map.astro'
import { IDs } from '../Identity'
import { DataExchanges } from '../DataExchange'
import { Payments } from '../Payment'

const { dpiType } = Astro.props
const dpiIdCount = IDs.filter(row => row['DPI Status'] === 'DPI').length
const dpiPaymentsCount = Payments.filter(row => row['DPI Status'] === 'DPI').length
const dpiDataExchangeCount = DataExchanges.filter(row => row['DPI Status'] === 'DPI').length

---
<div>
  <div class="flex flex-col-reverse lg:flex-row pt-10">
    <section class="flex-none pb-8">
      <div class="px-2 text-zinc-700 text-md text-center">
        <h2 class="font-bold lg:text-lg">
          DPI is far more prevalent than initially believed.
        </h2>
      </div>
      <nav class="grid font-mono pt-2 pb-8 max-w-md mx-auto" >
        <Card class="bg-zinc-50" isActive={Astro.url.pathname === '/'}>
          <a class="flex items-center justify-between" href="/">
            <Stat number={dpiIdCount}>Digital ID System</Stat>
            <IdentityIcon class="text-zinc-500" />
          </a>
        </Card>
        <Card class="bg-zinc-50" isActive={Astro.url.pathname === '/digital-payment/'}>
          <a class="flex items-center justify-between" href="/digital-payment/">
            <Stat number={dpiPaymentsCount}>Digital Payment System</Stat>
            <PaymentIcon class="text-zinc-500" />
          </a>
        </Card>
        <Card class="bg-zinc-50" isActive={Astro.url.pathname === '/data-exchange/'}>
          <a class="flex items-center justify-between" href="/data-exchange/">
            <Stat number={dpiDataExchangeCount}>
              Data Exchange System</Stat>
            <DataIcon class="text-zinc-500" />
          </a>
        </Card>
      </nav>
      <div class="max-w-md pl-4 pb-8">
        <p>
          <a href="/about/" class="underline">This project aims</a> to advance our understanding of digital public infrastructure and promote its inclusive and safe development.
        </p>
        <p class="pt-2">
          <a href="/data/" class="underline">Download</a> the data, read the <a href="/global-state-of-dpi/" class="underline">report</a>, and <a href="/contribute-to-the-dpi-map/" class="underline">help</a> improve it.
        </p>
        <p class="pt-8">
          The cards below show DPI information about every region researched so far. Click on them to show the details and click on the region name to see all the DPI information for that region.
        </p>
      </div>
    </section>
    <section class="flex-grow max-w-7xl pb-10 lg:pl-4 xl:mx-auto">
      <Map dpiType={dpiType} />
    </section>
  </div>
</div>
