---
import { dpiStatusToClass } from "../Status"

let {status = '', title = ''} = Astro.props
---
<span 
  title={title} 
  class:list={['pill', dpiStatusToClass(status), Astro.props.class]}>
  {status === 'DPI' ? 'DPI-like' : status}
</span>